.acc-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.acc-wrapper button {
    padding: 10px 20px;
    background: #008080;
    color: #FFBF00;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.accordion {
    width: 500px;
}

.item {
    background: #008080;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title {
    color: #FFBF00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.title-line1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.title-line1 h3 {
    margin: 0; /* Remove default margin for h3 */
}

.acc-content {
    color: #FFBF00;
    height: auto;
    text-align: start;
}
